.main-hero {
    height:100vh;
    display: flex;
    flex-direction:column;
    background: url(/images/banner-bg.jpg);
    background-size: 1800px auto;
    background-repeat: no-repeat;
    background-position: center -100px;
    min-height:990px;
    background-attachment: fixed;
}
.main-hero:before {
    background: url(/images/arrow.svg) no-repeat;
    width:40px;
    height:40px;
    content:'';
    position: absolute;
    left:50%;
    bottom:20px;
    animation: animArrow 0.5s 0s infinite linear alternate;
}
@keyframes animArrow {
    0% {margin-bottom:0;}
    100% {margin-bottom:6px;}
}