.section-learn {
    background: #EBCE5E;
    padding:125px 0;
}
.section-learn .col {
    padding-left:30px;
    padding-right:30px;
}
.section-learn .box {
    text-align: center;
}
.section-learn .box-graphic img {
    border-radius: 50%;
}