$colorMain : #F9DA61;
$colorSecondary : #131313;
$mediaWidth: 768px;

@import "partials/normalize";

@import "partials/global-class";

@import "components/_box.scss";
@import "components/_button.scss";
@import "components/_class.scss";
@import "components/_grid.scss";
@import "components/_layout.scss";
@import "components/_main-header.scss";
@import "components/_main-hero.scss";
@import "components/_main-slider.scss";
@import "components/_nav.scss";
@import "components/_section-contact.scss";
@import "components/_section-feature-courses.scss";
@import "components/_section-learn.scss";
@import "components/_section-map.scss";
@import "components/_footer.scss";

@import "partials/print";


















